<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">List of problems</a></li>
<li><a href="/about">About</a></li>
</ul>
    </nav>
<div class="container">
<h1>{{ page.title }}</h1>

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:srochno@gmail.com">email</a></li>
   <li><a href="https://meetup.com/problemsolving">Problem Solving Meetup</a></li>
   </ul>
  </footer>
  </body>

</html>
